In [1]:
import pandas as pd
import os

In [2]:
acadia = pd.read_csv('../data/climate/acadia.csv')

In [3]:
acadia

,STATION,DATE,MLY-PRCP-NORMAL,MLY-SNOW-NORMAL,MLY-TAVG-NORMAL,MLY-TMAX-NORMAL,MLY-TMIN-NORMAL
0,USC00170100,1,4.48,NaN,23.8,32.5,15.1
1,USC00170100,2,3.84,NaN,26.2,34.9,17.5
2,USC00170100,3,4.94,NaN,33.3,41.6,25.0
3,USC00170100,4,5.15,NaN,44.0,53.2,34.8
4,USC00170100,5,4.50,NaN,54.7,64.5,44.8
5,USC00170100,6,4.28,NaN,63.9,73.9,53.8
6,USC00170100,7,3.27,NaN,69.7,79.3,60.2
7,USC00170100,8,3.45,NaN,69.0,78.3,59.7
8,USC00170100,9,4.22,NaN,61.9,70.9,52.8
9,USC00170100,10,5.86,NaN,50.6,58.5,42.8
10,USC00170100,11,5.89,NaN,40.3,47.8,32.7
11,USC00170100,12,5.66,NaN,30.1,37.8,22.4

In [4]:
acadia['park_name'] = 'Acadia'

In [5]:
acadia

,STATION,DATE,MLY-PRCP-NORMAL,MLY-SNOW-NORMAL,MLY-TAVG-NORMAL,MLY-TMAX-NORMAL,MLY-TMIN-NORMAL,park_name
0,USC00170100,1,4.48,NaN,23.8,32.5,15.1,Acadia
1,USC00170100,2,3.84,NaN,26.2,34.9,17.5,Acadia
2,USC00170100,3,4.94,NaN,33.3,41.6,25.0,Acadia
3,USC00170100,4,5.15,NaN,44.0,53.2,34.8,Acadia
4,USC00170100,5,4.50,NaN,54.7,64.5,44.8,Acadia
5,USC00170100,6,4.28,NaN,63.9,73.9,53.8,Acadia
6,USC00170100,7,3.27,NaN,69.7,79.3,60.2,Acadia
7,USC00170100,8,3.45,NaN,69.0,78.3,59.7,Acadia
8,USC00170100,9,4.22,NaN,61.9,70.9,52.8,Acadia
9,USC00170100,10,5.86,NaN,50.6,58.5,42.8,Acadia
10,USC00170100,11,5.89,NaN,40.3,47.8,32.7,Acadia
11,USC00170100,12,5.66,NaN,30.1,37.8,22.4,Acadia

In [6]:
files = os.listdir('C:/Users/Jab/Documents/NSS/Capstone/data/climate')
climate = acadia

for file in files[1:]:
    df = pd.read_csv(f'../data/climate/{file}')
    df['park_name'] = file[:-4]
    frames = [climate, df]
    climate = pd.concat(frames)

climate = climate.rename(columns={'STATION':'station'
                                 ,'DATE':'month'
                                 ,'MLY-PRCP-NORMAL':'precipitation_in'
                                 ,'MLY-SNOW-NORMAL':'snow_in'
                                 ,'MLY-TAVG-NORMAL':'avg_temp_f'
                                 ,'MLY-TMAX-NORMAL':'max_temp_f'
                                 ,'MLY-TMIN-NORMAL':'min_temp_f'})

In [7]:
climate

,station,month,precipitation_in,snow_in,avg_temp_f,max_temp_f,min_temp_f,park_name
0,USC00170100,1,4.48,NaN,23.8,32.5,15.1,Acadia
1,USC00170100,2,3.84,NaN,26.2,34.9,17.5,Acadia
2,USC00170100,3,4.94,NaN,33.3,41.6,25.0,Acadia
3,USC00170100,4,5.15,NaN,44.0,53.2,34.8,Acadia
4,USC00170100,5,4.50,NaN,54.7,64.5,44.8,Acadia
...,...,...,...,...,...,...,...,...
7,USC00429717,8,1.63,0.0,83.3,98.0,68.7,Zion
8,USC00429717,9,1.17,0.0,76.0,90.7,61.3,Zion
9,USC00429717,10,1.22,0.0,63.4,78.1,48.8,Zion
10,USC00429717,11,1.18,0.1,50.6,63.9,37.3,Zion
11,USC00429717,12,1.64,1.7,40.9,52.5,29.3,Zion

In [8]:
#climate.to_csv('../data/final/climate.csv', index=False)